* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, rgb(29, 19, 168) 40%, rgb(2, 11, 61) 99%);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    display: grid;
    align-items: center;
}

.form_login2 {
    max-width: 300px;
    padding: 22px;
    margin: 0 auto;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 20px 10px black;
    text-align: center;
}

.form_login2 h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(109, 99, 99);
    text-shadow: -2px 2px black;
}

.form_login2 input {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #444;
}

.btn2 {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
}

.btn2:hover {
    transition: 0.3s;
    background-color: #0056b3;
}

.form_login2 a {
    letter-spacing: 1px;
    color: #007bff;
    text-decoration: none;
}

.form_login2 a:hover {
    transition: 0.3s;
    color: #0056b3;
    text-decoration: underline;
}